* {
    margin: 0;
    padding: 0;
}

#imglogo {
    width: 150px;
    height: auto;
    margin: 20px;
    border-radius: 20%;
    border: solid rebeccapurple 5px
}

body {
    background: rgb(187, 187, 187);
}

.dentrop {
    max-width: 1200px;
    background: white;
    margin: auto;
}

#estilotitulop {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
    color: brown;
    background-color: rgb(220, 239, 240);
    border: solid rgba(112, 80, 102, 0.473);
    border-radius: 40%;
    padding: 30px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    display: flex;
}

.flex {
    display: flex;
}

.estiloletrap {
    font-weight: bold;
    font-family: 'Poor Story', cursive;
    text-align: center;
}
.estiloletranor p {
    font-family: Arial, Helvetica, sans-serif ;
}

ul {
    list-style: none;

}

header {
    background-color: rgb(176, 211, 199);
}

.listap ul li {
    padding: 5px;
    margin: 5px;
    border: solid black;
    background-color: antiquewhite;
    text-align: center;
    font-size: 25px;
    
}

nav {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.col {
    flex-basis: 50%;
}

.a30 {
    flex-basis: 30%;
}

.a70 {
    flex-basis: 70%;
}

p {
    font-weight: 500;
    font-size: 20px;
}

.imgnormal {
    width: 150px;
    height: auto;
    margin: 20px;
    border-radius: 20%;
}

.letracolor h2 {
    color: rgb(160, 13, 13);
}

.mover {
    margin: 30px 35px 30px 35px;
}

.fondone {
    background-color: aliceblue;
}
.imgc {
    height: 150px;
    border-radius: 20%;
}
.formulario {
    font-size: 20px;
}
 h1 {
    justify-content: center;
    text-align: center;
 }
 h3 {
    text-align: center;
    font-size: 25px;
 }
 .img100 {
    display: block;
    margin: auto;
    width: 80%;
    
 }
footer {
    text-align: center;
}
.padd div {
    padding: 30px;
    margin: 30px 30px 30px 30px;
    border: solid rgb(170, 24, 24);
}
.paddi div {
    padding: 30px;
    margin: 20px 20px 20px 20px;
    border: solid rgb(55, 42, 173);
}
.letrag{
    font-size: 20px;
}
.bi-facebook {
    font-size: 30px;
    color: blue;
  }

  .bi-instagram {
    font-size: 30px;
    color: rgb(0, 204, 255);
  }

  .bi-twitter {
    font-size: 30px;
    color: rgb(182, 225, 226);
  }